/request-parsers/prepare-shipment-request-parser/target/
/request-parsers/request-parser/target/
/shipment/target/
/shipment-tester/target/
/persistence/target/
/status/target/
/shipment-validator/target/
/persist-service/target/
/authenticator/target/
/lookups/target/
/shipment-check/target/
/dmu1-booking/target/
/rate-engine/target/
/niklas-processing/target/
/enrichment/calculate-colli/target/
/enrichment/enrichment-bundle/target/
/generic-lookups/target/
**/slf4j.log
/target/
.idea/
*.iml